<?xml version="1.0" encoding="UTF-8"?>
<!-- OXi dbPublish-->
<!-- Copyright (c) 2001, 2002, 2003 Orbis Technology Ltd. All rights reserved.-->
<oxip version="7.1" created="2012-07-23 11:29:21" lastMsgId="3436501864" requestTime="0.0178">
<response request="getHierarchyByMarketType" code="001" message="success" debug="">
<williamhill>
<class id="273" name="European Basketball" maxRepDate="2012-07-19" maxRepTime="11:42:06">
<type
id="8360"
name="Olympics - Women&amp;apos;s Basketball"
url="http://sports.williamhill.com/bet/betting/t/8360"
lastUpdateDate="2012-05-30"
lastUpdateTime="07:09:00">
<market
id="39371734"
name="China v Czech Republic - Money Line"
url="http://sports.williamhill.com/bet/en-gb/betting/e/3237046/China%2dv%2dCzech%2dRepublic"
date="2012-07-28"
time="09:00:00"
betTillDate="2012-07-28"
betTillTime="09:00:00"
lastUpdateDate="2012-07-19"
lastUpdateTime="11:42:06"
>
<participant
name="China"
id="165144088"
odds="23/20"
oddsDecimal="2.15"
lastUpdateDate="2012-07-23"
lastUpdateTime="07:42:22"
handicap=""/>
<participant
name="Czech Republic"
id="165144090"
odds="8/13"
oddsDecimal="1.62"
lastUpdateDate="2012-07-23"
lastUpdateTime="07:42:22"
handicap=""/>
</market>
<market
id="39371876"
name="Russia v Canada - Money Line"
url="http://sports.williamhill.com/bet/en-gb/betting/e/3237049/Russia%2dv%2dCanada"
date="2012-07-28"
time="11:15:00"
betTillDate="2012-07-28"
betTillTime="11:15:00"
lastUpdateDate="2012-07-18"
lastUpdateTime="13:53:45"
>
<participant
name="Russia"
id="165144483"
odds="1/100"
oddsDecimal="1.01"
lastUpdateDate="2012-07-18"
lastUpdateTime="12:50:11"
handicap=""/>
<participant
name="Canada"
id="165144486"
odds="11/1"
oddsDecimal="12.00"
lastUpdateDate="2012-07-18"
lastUpdateTime="13:53:45"
handicap=""/>
</market>
<market
id="39447171"
name="Canada v Russia - Money Line"
url="http://sports.williamhill.com/bet/en-gb/betting/e/3240890/Canada%2dv%2dRussia"
date="2012-07-28"
time="11:15:00"
betTillDate="2012-07-28"
betTillTime="11:15:00"
lastUpdateDate="2012-07-19"
lastUpdateTime="15:16:55"
>
<participant
name="Canada"
id="165411325"
odds="11/1"
oddsDecimal="12.00"
lastUpdateDate="2012-07-19"
lastUpdateTime="15:16:55"
handicap=""/>
<participant
name="Russia"
id="165411326"
odds="1/100"
oddsDecimal="1.01"
lastUpdateDate="2012-07-19"
lastUpdateTime="15:16:55"
handicap=""/>
</market>
<market
id="39371723"
name="Turkey v Angola - Money Line"
url="http://sports.williamhill.com/bet/en-gb/betting/e/3237047/Turkey%2dv%2dAngola"
date="2012-07-28"
time="14:30:00"
betTillDate="2012-07-28"
betTillTime="14:30:00"
lastUpdateDate="2012-07-19"
lastUpdateTime="11:42:06"
>
<participant
name="Angola"
id="165144059"
odds="11/1"
oddsDecimal="12.00"
lastUpdateDate="2012-07-19"
lastUpdateTime="11:42:06"
handicap=""/>
<participant
name="Turkey"
id="165144062"
odds="1/100"
oddsDecimal="1.01"
lastUpdateDate="2012-07-19"
lastUpdateTime="11:42:06"
handicap=""/>
</market>
<market
id="39371746"
name="USA v Croatia - Money Line"
url="http://sports.williamhill.com/bet/en-gb/betting/e/3237048/USA%2dv%2dCroatia"
date="2012-07-28"
time="16:45:00"
betTillDate="2012-07-28"
betTillTime="16:45:00"
lastUpdateDate="2012-07-19"
lastUpdateTime="11:42:06"
>
<participant
name="Croatia"
id="165144135"
odds="11/1"
oddsDecimal="12.00"
lastUpdateDate="2012-07-19"
lastUpdateTime="11:42:06"
handicap=""/>
<participant
name="USA"
id="165144153"
odds="1/100"
oddsDecimal="1.01"
lastUpdateDate="2012-07-19"
lastUpdateTime="11:42:06"
handicap=""/>
</market>
<market
id="39371842"
name="France v Brazil - Money Line"
url="http://sports.williamhill.com/bet/en-gb/betting/e/3237050/France%2dv%2dBrazil"
date="2012-07-28"
time="20:00:00"
betTillDate="2012-07-28"
betTillTime="20:00:00"
lastUpdateDate="2012-07-18"
lastUpdateTime="13:53:46"
>
<participant
name="Brazil"
id="165144397"
odds="18/5"
oddsDecimal="4.60"
lastUpdateDate="2012-07-18"
lastUpdateTime="13:53:46"
handicap=""/>
<participant
name="France"
id="165144400"
odds="1/6"
oddsDecimal="1.17"
lastUpdateDate="2012-07-18"
lastUpdateTime="13:53:46"
handicap=""/>
</market>
<market
id="39447166"
name="Brazil v France - Money Line"
url="http://sports.williamhill.com/bet/en-gb/betting/e/3240891/Brazil%2dv%2dFrance"
date="2012-07-28"
time="20:00:00"
betTillDate="2012-07-28"
betTillTime="20:00:00"
lastUpdateDate="2012-07-19"
lastUpdateTime="15:16:55"
>
<participant
name="Brazil"
id="165411313"
odds="18/5"
oddsDecimal="4.60"
lastUpdateDate="2012-07-19"
lastUpdateTime="15:16:55"
handicap=""/>
<participant
name="France"
id="165411314"
odds="1/6"
oddsDecimal="1.17"
lastUpdateDate="2012-07-19"
lastUpdateTime="15:16:55"
handicap=""/>
</market>
<market
id="39432705"
name="Australia v Great Britain - Money Line"
url="http://sports.williamhill.com/bet/en-gb/betting/e/3240780/Australia%2dv%2dGreat%2dBritain"
date="2012-07-28"
time="22:15:00"
betTillDate="2012-07-28"
betTillTime="22:15:00"
lastUpdateDate="2012-07-19"
lastUpdateTime="15:13:53"
>
<participant
name="Australia"
id="165365470"
odds="1/100"
oddsDecimal="1.01"
lastUpdateDate="2012-07-19"
lastUpdateTime="11:46:57"
handicap=""/>
<participant
name="Great Britain"
id="165365471"
odds="11/1"
oddsDecimal="12.00"
lastUpdateDate="2012-07-19"
lastUpdateTime="11:46:58"
handicap=""/>
</market>
</type>
<type
id="8361"
name="Olympics - Men&amp;apos;s Basketball"
url="http://sports.williamhill.com/bet/betting/t/8361"
lastUpdateDate="2012-05-30"
lastUpdateTime="07:09:00">
<market
id="39371463"
name="Nigeria v Tunisia - Money Line"
url="http://sports.williamhill.com/bet/en-gb/betting/e/3237040/Nigeria%2dv%2dTunisia"
date="2012-07-29"
time="09:00:00"
betTillDate="2012-07-29"
betTillTime="09:00:00"
lastUpdateDate="2012-07-19"
lastUpdateTime="11:42:06"
>
<participant
name="Nigeria"
id="165143342"
odds="1/3"
oddsDecimal="1.33"
lastUpdateDate="2012-07-19"
lastUpdateTime="11:42:06"
handicap=""/>
<participant
name="Tunisia"
id="165143344"
odds="2/1"
oddsDecimal="3.00"
lastUpdateDate="2012-07-19"
lastUpdateTime="11:42:06"
handicap=""/>
</market>
<market
id="39371603"
name="Brazil v Australia - Money Line"
url="http://sports.williamhill.com/bet/en-gb/betting/e/3237043/Brazil%2dv%2dAustralia"
date="2012-07-29"
time="11:15:00"
betTillDate="2012-07-29"
betTillTime="11:15:00"
lastUpdateDate="2012-07-19"
lastUpdateTime="11:42:06"
>
<participant
name="Brazil"
id="165143724"
odds="2/5"
oddsDecimal="1.40"
lastUpdateDate="2012-07-23"
lastUpdateTime="07:43:58"
handicap=""/>
<participant
name="Australia"
id="165143727"
odds="7/4"
oddsDecimal="2.75"
lastUpdateDate="2012-07-23"
lastUpdateTime="07:43:58"
handicap=""/>
</market>
<market
id="39371464"
name="USA v France - Money Line"
url="http://sports.williamhill.com/bet/en-gb/betting/e/3237041/USA%2dv%2dFrance"
date="2012-07-29"
time="14:30:00"
betTillDate="2012-07-29"
betTillTime="14:30:00"
lastUpdateDate="2012-07-19"
lastUpdateTime="11:42:06"
>
<participant
name="France"
id="165143343"
odds="11/1"
oddsDecimal="12.00"
lastUpdateDate="2012-07-19"
lastUpdateTime="11:42:07"
handicap=""/>
<participant
name="USA"
id="165143345"
odds="1/100"
oddsDecimal="1.01"
lastUpdateDate="2012-07-19"
lastUpdateTime="11:42:07"
handicap=""/>
</market>
<market
id="39371593"
name="Spain v China - Money Line"
url="http://sports.williamhill.com/bet/en-gb/betting/e/3237044/Spain%2dv%2dChina"
date="2012-07-29"
time="16:45:00"
betTillDate="2012-07-29"
betTillTime="16:45:00"
lastUpdateDate="2012-07-19"
lastUpdateTime="11:42:06"
>
<participant
name="China"
id="165143700"
odds="11/1"
oddsDecimal="12.00"
lastUpdateDate="2012-07-19"
lastUpdateTime="11:42:06"
handicap=""/>
<participant
name="Spain"
id="165143704"
odds="1/100"
oddsDecimal="1.01"
lastUpdateDate="2012-07-19"
lastUpdateTime="11:42:06"
handicap=""/>
</market>
<market
id="39384463"
name="Russia v Great Britain - Money Line"
url="http://sports.williamhill.com/bet/en-gb/betting/e/3237099/Russia%2dv%2dGreat%2dBritain"
date="2012-07-29"
time="20:00:00"
betTillDate="2012-07-29"
betTillTime="20:00:00"
lastUpdateDate="2012-07-19"
lastUpdateTime="11:42:06"
>
<participant
name="Great Britain"
id="165184052"
odds="13/4"
oddsDecimal="4.25"
lastUpdateDate="2012-07-19"
lastUpdateTime="11:42:06"
handicap=""/>
<participant
name="Russia"
id="165184053"
odds="1/5"
oddsDecimal="1.20"
lastUpdateDate="2012-07-19"
lastUpdateTime="11:42:06"
handicap=""/>
</market>
<market
id="39371471"
name="Argentina v Lithuania - Money Line"
url="http://sports.williamhill.com/bet/en-gb/betting/e/3237042/Argentina%2dv%2dLithuania"
date="2012-07-29"
time="22:15:00"
betTillDate="2012-07-29"
betTillTime="22:15:00"
lastUpdateDate="2012-07-19"
lastUpdateTime="11:42:05"
>
<participant
name="Lithuania"
id="165143361"
odds="5/4"
oddsDecimal="2.25"
lastUpdateDate="2012-07-19"
lastUpdateTime="11:42:06"
handicap=""/>
<participant
name="Argentina"
id="165143364"
odds="4/7"
oddsDecimal="1.57"
lastUpdateDate="2012-07-19"
lastUpdateTime="11:42:06"
handicap=""/>
</market>
</type>
</class>
<disclaimer>
WHG (International) Ltd (&quot;We/Us&quot;) of 6/1 Waterport Place, Gibraltar, owns the XML Feed Website ( the &quot;Website&quot;) relating to information contained on its main trading website. By using the Website You agree to these full Terms of Use available at http://developer.williamhill.com
</disclaimer>
</williamhill>
</response>
</oxip>
